@import 'bulma/css/bulma.css';
@import 'react-querybuilder/dist/query-builder.css';

body {
  margin: 0.5rem !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --bulma-code: #333333;
  --bulma-code-background: unset;
}
.queryBuilder {
  .input {
    width: auto;
  }
}
