.queryBuilder-branches {
  .rule,
  .ruleGroup {
    &::before,
    &::after {
      border-color: red !important;
    }
  }
}

.ruleGroup-body.inline-indycomb {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 0.5rem;
}
