// __SCSS_PRE__
@use 'react-querybuilder/dist/query-builder.scss';

body {
  margin: 0.5rem !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// __SCSS_POST__
