node_modules/
.idea
*.log
.tmp
coverage/
.DS_Store
dist/
/types
.parcel-cache
.env
build-stats.*
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
