# Hidden(ish) files
**/.*
!.*.json

# Generated
**/celParser.ts
**/sqlParser.ts

# Binaries
*.jpeg
*.jpg
*.png
*.svg
bun.lockb

# Unsupported
*.jison
*.toml
CNAME
*.go
go.mod
go.sum
*.prisma

# Misc
lerna.json
bun.lock
