[build]
command = "bun upgrade && git reset --hard HEAD && bun install --frozen-lockfile && bun --bun run build && bun run website:build"
# Use this to pin Bun version
# command = "curl -fsSL https://bun.sh/install | bash -s 'bun-v1.1.29' && git reset --hard HEAD && bun install --frozen-lockfile && bun --bun run build && bun run website:build"
publish = "website/build"
