$structure-border-width: 4px;
$structure-padding: 14px;

.rqb-structure-wrapper {
  box-shadow: 0 0 0.7rem 0 #ffffff26;
}

.rqb-structure {
  &.queryBuilder {
    box-shadow: 0 0 0.7rem 0 #ffffff26 inset;
    border: $structure-border-width solid black;
    padding: $structure-padding;
  }

  .ruleGroup {
    background-color: #00000011;
    border: $structure-border-width solid maroon;
    padding: $structure-padding;
    row-gap: $structure-padding !important;
  }

  .ruleGroup-header {
    border: $structure-border-width solid rebeccapurple;
    padding: $structure-padding;
  }

  .ruleGroup-body {
    border: $structure-border-width solid blue;
    padding: $structure-padding;
    row-gap: $structure-padding !important;
  }

  .rule {
    border: $structure-border-width solid gray;
    padding: $structure-padding;
    column-gap: 1rem !important;

    &.queryBuilder-disabled {
      border-color: gray !important;
    }

    &.queryBuilder-valid {
      border-color: green;
    }

    &.queryBuilder-invalid {
      border-color: red;
    }
  }

  .queryBuilder-dragHandle,
  .ruleGroup-notToggle {
    border: $structure-border-width dotted gray;
    padding: 4px;
  }

  .shiftActions {
    border: $structure-border-width dotted #ff7e16;
    padding: 4px;
  }
}
