// Basic
$rqbtemp-spacing: 0.5rem !default;
$rqbtemp-background-color: rgba(0, 75, 183, 0.2) !default;
$rqbtemp-border-color: #7f81a2 !default;
$rqbtemp-border-style: solid !default;
$rqbtemp-border-radius: 4px !default;
$rqbtemp-border-width: 1px !default;

// Branches
$rqbtemp-branch-indent: $rqbtemp-spacing !default;
$rqbtemp-branch-color: $rqbtemp-border-color !default;
$rqbtemp-branch-width: $rqbtemp-border-width !default;
$rqbtemp-branch-radius: $rqbtemp-border-radius !default;
$rqbtemp-branch-style: $rqbtemp-border-style !default;

// #region Branches

.queryBuilder-branches {
  .ruleGroup-body {
    margin-left: calc(2 * #{$rqbtemp-branch-indent});
  }

  .rule,
  .ruleGroup .ruleGroup {
    position: relative;

    &::before,
    &::after {
      content: '';
      width: $rqbtemp-branch-indent;
      left: calc(-#{$rqbtemp-branch-indent} - #{$rqbtemp-branch-width});
      border-color: $rqbtemp-branch-color;
      border-style: $rqbtemp-branch-style;
      border-radius: 0;
      position: absolute;
    }

    &::before {
      top: -$rqbtemp-spacing;
      height: calc(50% + #{$rqbtemp-spacing});
      border-width: 0 0 $rqbtemp-branch-width $rqbtemp-branch-width;
    }

    &:last-child::before {
      border-bottom-left-radius: $rqbtemp-branch-radius;
    }

    &::after {
      top: 50%;
      height: 50%;
      border-width: 0 0 0 $rqbtemp-branch-width;
    }

    &:last-child::after {
      display: none;
    }
  }

  .ruleGroup .ruleGroup {
    &::before,
    &::after {
      left: calc(
        calc(-#{$rqbtemp-branch-indent} - #{$rqbtemp-branch-width}) - #{$rqbtemp-border-width}
      );
    }

    &::before {
      top: calc(-#{$rqbtemp-spacing} - #{$rqbtemp-border-width});
      height: calc(50% + #{$rqbtemp-spacing} + #{$rqbtemp-border-width});
    }

    &::after {
      height: calc(50% + #{$rqbtemp-border-width});
    }
  }

  .betweenRules {
    position: relative;

    &::before {
      content: '';
      width: $rqbtemp-branch-indent;
      left: calc(-#{$rqbtemp-branch-indent} - #{$rqbtemp-branch-width});
      border-color: $rqbtemp-branch-color;
      border-style: $rqbtemp-branch-style;
      border-radius: 0;
      position: absolute;
      top: -$rqbtemp-spacing;
      height: calc(100% + #{$rqbtemp-spacing});
      border-width: 0 0 0 $rqbtemp-branch-width;
    }
  }
}

// #endregion
