@import 'react-querybuilder/dist/query-builder.scss';

body {
  margin: 0.5rem !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.queryBuilder {
  .ant-input {
    width: auto;
  }
}
