/**
 * This file incorporates layout/structural styles and adds
 * aesthetic styles like colors and border styles.
 *
 * To use layout/structural styles only, import
 * query-builder-layout.scss directly.
 */

@import './query-builder-layout.scss';

// DO NOT ALTER OR REMOVE REGION NAMES. Some of them are used
// to generate code snippets in the documentation.

// #region Basic
$rqb-background-color: rgba(0, 75, 183, 0.2) !default;
$rqb-border-color: #8081a2 !default;
$rqb-border-style: solid !default;
$rqb-border-radius: 0.25rem !default;
// #endregion

// #region Drag-and-drop
$rqb-dnd-hover-border-bottom-color: rebeccapurple !default;
$rqb-dnd-hover-copy-border-bottom-color: #669933 !default;
$rqb-dnd-hover-border-bottom-style: dashed !default;
$rqb-dnd-hover-border-bottom-width: 2px !default;
// #endregion

// #region Branches
$rqb-branch-color: $rqb-border-color !default;
$rqb-branch-radius: $rqb-border-radius !default;
$rqb-branch-style: $rqb-border-style !default;
// #endregion

// Default styles
.ruleGroup {
  border-color: $rqb-border-color;
  border-style: $rqb-border-style;
  border-radius: $rqb-border-radius;
  background: $rqb-background-color;

  .shiftActions {
    & > * {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}

// #region Drag-and-drop

// Hover styles
[data-inlinecombinators='disabled'] {
  .dndOver {
    &.rule,
    &.ruleGroup-header {
      border-bottom-width: $rqb-dnd-hover-border-bottom-width;
      border-bottom-style: $rqb-dnd-hover-border-bottom-style;
      border-bottom-color: $rqb-dnd-hover-border-bottom-color;

      &.dndCopy {
        border-bottom-color: $rqb-dnd-hover-copy-border-bottom-color;
      }
    }
  }
}
[data-inlinecombinators='enabled'] {
  .dndOver {
    &.rule:last-child,
    &.ruleGroup-header,
    &.rule + .betweenRules,
    &.betweenRules {
      border-bottom-width: $rqb-dnd-hover-border-bottom-width;
      border-bottom-style: $rqb-dnd-hover-border-bottom-style;
      border-bottom-color: $rqb-dnd-hover-border-bottom-color;

      &.dndCopy {
        border-bottom-color: $rqb-dnd-hover-copy-border-bottom-color;
      }
    }
  }
}
// #endregion

// #region Branch styles
.queryBuilder-branches {
  .rule,
  .ruleGroup .ruleGroup {
    &::before,
    &::after {
      border-color: $rqb-branch-color;
      border-style: $rqb-branch-style;
    }

    &:last-child::before {
      border-bottom-left-radius: $rqb-branch-radius;
    }
  }

  .betweenRules {
    position: relative;

    &::before {
      border-color: $rqb-branch-color;
      border-style: $rqb-branch-style;
    }
  }
}
// #endregion
