@use 'sass:map';

$rqb-var-prefix: rqb- !default;

// #region Basic layout
$rqb-spacing: 0.5rem !default;
$rqb-border-width: 1px !default;
// #endregion

// #region Branches layout
$rqb-branch-indent: $rqb-spacing !default;
$rqb-branch-width: $rqb-border-width !default;
// #endregion

$rqb-dnd-drop-indicator-defaults: (
  'color': rebeccapurple,
  'copy-color': #693,
  'group-color': #369,
  'style': dashed,
  'width': 2px,
);

// #region Basic aesthetic
$rqb-base-color: #004bb8 !default;
$rqb-background-color: color-mix(in srgb, transparent, $rqb-base-color 20%) !default;
$rqb-border-color: #8081a2 !default;
$rqb-border-style: solid !default;
$rqb-border-radius: 0.25rem !default;
// #endregion

// #region New drag-and-drop variables
$rqb-dnd-drop-indicator-color: map.get($rqb-dnd-drop-indicator-defaults, 'color') !default;
$rqb-dnd-drop-indicator-style: map.get($rqb-dnd-drop-indicator-defaults, 'style') !default;
$rqb-dnd-drop-indicator-width: map.get($rqb-dnd-drop-indicator-defaults, 'width') !default;
$rqb-dnd-drop-not-allowed-cursor: not-allowed;
// $rqb-dnd-drop-not-allowed-cursor: pointer;

$rqb-dnd-drop-indicator-copy-color: map.get(
  $rqb-dnd-drop-indicator-defaults,
  'copy-color'
) !default;
$rqb-dnd-drop-indicator-copy-style: map.get($rqb-dnd-drop-indicator-defaults, 'style') !default;
$rqb-dnd-drop-indicator-copy-width: map.get($rqb-dnd-drop-indicator-defaults, 'width') !default;

$rqb-dnd-drop-indicator-group-color: map.get(
  $rqb-dnd-drop-indicator-defaults,
  'group-color'
) !default;
$rqb-dnd-drop-indicator-group-style: map.get($rqb-dnd-drop-indicator-defaults, 'style') !default;
$rqb-dnd-drop-indicator-group-width: map.get($rqb-dnd-drop-indicator-defaults, 'width') !default;
// #endregion

// #region Deprecated drag-and-drop variables
$rqb-dnd-hover-border-bottom-color: map.get($rqb-dnd-drop-indicator-defaults, 'color') !default;
$rqb-dnd-hover-copy-border-bottom-color: map.get(
  $rqb-dnd-drop-indicator-defaults,
  'copy-color'
) !default;
$rqb-dnd-hover-border-bottom-style: map.get($rqb-dnd-drop-indicator-defaults, 'style') !default;
$rqb-dnd-hover-border-bottom-width: map.get($rqb-dnd-drop-indicator-defaults, 'width') !default;
// #endregion

// #region Branches aesthetic
$rqb-branch-color: $rqb-border-color !default;
$rqb-branch-radius: $rqb-border-radius !default;
$rqb-branch-style: $rqb-border-style !default;
// #endregion
