@use './variables' as *;

.rulesEngineBuilder,
.conditionBuilder,
.consequentBuilder {
  display: flex;
  flex-direction: column;
  gap: var(--#{$rqbre-var-prefix}spacing);
  padding: var(--#{$rqbre-var-prefix}spacing);
  border-width: var(--#{$rqbre-var-prefix}border-width);
}

.rulesEngineBuilder-header,
.conditionBuilder-header,
.consequentBuilder-header {
  display: flex;
  flex-direction: row;
  gap: var(--#{$rqbre-var-prefix}spacing);
}

.rulesEngineBuilder-body,
.conditionBuilder-body {
  display: flex;
  flex-direction: column;
  gap: var(--#{$rqbre-var-prefix}spacing);
}

.rulesEngineBuilder-justified {
  .blockLabel {
    margin-right: auto;
  }

  .rulesEngineBuilder-header {
    justify-content: flex-end;
  }
}

/* #region Branches */
@mixin branch-layout-styles($direction) {
  $ltr-after: if($direction == rtl, before, after);
  $ltr-before: if($direction == rtl, after, before);
  $margin-side: if($direction == rtl, right, left);

  .rulesEngineBuilder-body,
  .conditionBuilder-body {
    margin-#{$margin-side}: calc(2 * var(--#{$rqbre-var-prefix}branch-indent));
  }

  .queryBuilder,
  .consequentBuilder,
  .conditionBuilder {
    position: relative;

    &::before,
    &::after {
      content: '';
      width: var(--#{$rqbre-var-prefix}branch-indent);
      #{$margin-side}: calc(
        -1 * (var(--#{$rqbre-var-prefix}branch-indent) + var(--#{$rqbre-var-prefix}branch-width))
      );
      border-radius: 0;
      position: absolute;
    }

    &::#{$ltr-before} {
      top: calc(-1 * var(--#{$rqbre-var-prefix}spacing));
      height: calc(50% + var(--#{$rqbre-var-prefix}spacing));
      @if $direction == rtl {
        border-width: 0
          var(--#{$rqbre-var-prefix}branch-width)
          var(--#{$rqbre-var-prefix}branch-width)
          0;
      } @else {
        border-width: 0
          0
          var(--#{$rqbre-var-prefix}branch-width)
          var(--#{$rqbre-var-prefix}branch-width);
      }
    }

    &::#{$ltr-after} {
      top: 50%;
      height: 50%;
      @if $direction == rtl {
        border-width: 0 var(--#{$rqbre-var-prefix}branch-width) 0 0;
      } @else {
        border-width: 0 0 0 var(--#{$rqbre-var-prefix}branch-width);
      }
    }

    &:last-child::#{$ltr-after} {
      display: none;
    }
  }

  // .queryBuilder,
  .consequentBuilder,
  .conditionBuilder {
    &::before,
    &::after {
      #{$margin-side}: calc(
        -1 *
          (
            var(--#{$rqbre-var-prefix}branch-indent) + var(--#{$rqbre-var-prefix}branch-width) +
              var(--#{$rqbre-var-prefix}border-width)
          )
      );
    }

    &::#{$ltr-before} {
      top: calc(
        -1 * (var(--#{$rqbre-var-prefix}spacing) + var(--#{$rqbre-var-prefix}border-width))
      );
      height: calc(
        50% + var(--#{$rqbre-var-prefix}spacing) + var(--#{$rqbre-var-prefix}border-width)
      );
    }

    &::#{$ltr-after} {
      height: calc(50% + var(--#{$rqbre-var-prefix}border-width));
    }
  }
}

/* LTR */
.rulesEngineBuilder-branches:dir(ltr) {
  @include branch-layout-styles(ltr);
}

/* RTL */
.rulesEngineBuilder-branches:dir(rtl) {
  @include branch-layout-styles(rtl);
}
/* #endregion */
