---
id: "react_querybuilder.ValidationResult"
title: "Interface: ValidationResult"
sidebar_label: "ValidationResult"
custom_edit_url: null
---

[react-querybuilder](../modules/react_querybuilder.md).ValidationResult

## Properties

### reasons

 `Optional` **reasons**: `any`[]

#### Defined in

[packages/react-querybuilder/src/types/validation.ts:6](https://github.com/react-querybuilder/react-querybuilder/blob/55590db8/packages/react-querybuilder/src/types/validation.ts#L6)

___

### valid

 **valid**: `boolean`

#### Defined in

[packages/react-querybuilder/src/types/validation.ts:5](https://github.com/react-querybuilder/react-querybuilder/blob/55590db8/packages/react-querybuilder/src/types/validation.ts#L5)
