.svg-font-color svg > path {
  fill: var(--ifm-font-color-base);
}

.donut-hole {
  overflow-y: unset !important;
}

.queryBuilder {
  min-width: 420px;
}

/* Styles for when "Use validation" option is selected */
.validateQuery .queryBuilder {
  & .ruleGroup.queryBuilder-invalid {
    /* Color invalid groups */
    background-color: rgba(102, 51, 153, 0.4); /* transluscent rebeccapurple */

    & .ruleGroup-addRule {
      /* Bold the "+ Rule" button if the group has no child rules or groups */
      font-weight: bold !important;
    }

    & > .ruleGroup-header::after {
      /* Message to user about empty groups */
      content: 'Empty groups are considered invalid. Avoid them by using addRuleToNewGroups.';
      color: white;
    }
  }

  & .rule.queryBuilder-invalid .rule-value {
    /* Purple background for empty text fields */
    background-color: rgba(102, 51, 153, 0.4); /* transluscent rebeccapurple */

    &::placeholder {
      /* 30% darker rebeccapurple */
      color: #47246b;
    }
  }
}

/* Styles for when "Use validation" option is selected (dark theme variations) */
html[data-theme='dark']
  .validateQuery
  .queryBuilder
  .rule.queryBuilder-invalid
  .rule-value::placeholder {
  /* 30% lighter rebeccapurple */
  color: #945ec9;
}
