.rqb-tremor {
  * {
    border-style: solid;
    border-width: 0;
  }
  // TODO: find out why this is necessary
  button:has(> svg.tremor-DateRangePicker-clearIcon),
  button:has(> svg.tremor-MultiSelect-clearIcon),
  button:has(> svg.tremor-SearchSelect-clearIcon),
  button:has(> svg.tremor-Select-clearIcon) {
    background-color: transparent;
  }
}
