.rqb-chakra.donut-hole {
  .queryBuilder {
    .chakra-native-select__root {
      width: fit-content;
      display: inline-block;
    }
    .chakra-input {
      width: auto;
      display: inline-block;
    }
  }
}
