pre {
  background-color: #eeeeee;
  border: 1px solid gray;
  border-radius: 4px;
  font-family: Consolas, 'Courier New', monospace;
  font-size: small;
  padding: 1rem;

  &#formatQuery-output {
    min-width: 405px;
    white-space: pre-wrap;
  }

  code {
    white-space: pre-wrap !important;
  }
}

.queryBuilder {
  min-width: 405px;
}

.loading-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  row-gap: 1rem;
}

.validateQuery {
  // Bold the +Rule button if the group has no child rules or groups
  .ruleGroup.queryBuilder-invalid .ruleGroup-addRule {
    font-weight: bold !important;
  }

  // Purple outline for empty text fields
  .rule.queryBuilder-invalid .rule-value {
    border: 2px solid rebeccapurple;
  }

  // Message to user about empty groups
  .ruleGroup.queryBuilder-invalid > .ruleGroup-header::after {
    content: 'Empty groups are considered invalid. Avoid them by using addRuleToNewGroups.';
  }
}

.ant-layout-header {
  background-color: #82a7dd !important;

  .ant-typography {
    a {
      color: white;
    }
  }
}

// In all styles except for default, push the clone and remove buttons to the right edge.
.with-antd,
.with-bootstrap,
.with-bulma,
.with-chakra,
.with-material {
  .ruleGroup-addGroup + button.ruleGroup-cloneGroup,
  .ruleGroup-addGroup + button.ruleGroup-remove,
  .rule-operators + button.rule-cloneRule,
  .rule-operators + button.rule-remove,
  .rule-value + button.rule-cloneRule,
  .rule-value + button.rule-remove,
  .control + button.rule-cloneRule,
  .control + button.rule-remove,
  .chakra-select__wrapper + button.rule-cloneRule,
  .chakra-select__wrapper + button.rule-remove {
    margin-left: auto;
  }
}
