@import 'common';

html,
body {
  padding: 0.5rem;
}

.queryBuilder {
  min-width: 405px;

  .queryBuilder-dragHandle {
    cursor: move;
  }

  .ruleGroup,
  .ruleGroup-header,
  .ruleGroup-body,
  .rule {
    display: block;
  }

  .ruleGroup-body {
    padding-left: 0;
  }

  .ruleGroup-header,
  .rule {
    & > * {
      margin-left: 0.5rem;
    }
  }

  .ruleGroup {
    padding: 0.5rem;
    border: 1px solid #7f81a2;
    border-radius: 4px;
    background: rgba(0, 75, 183, 0.2);

    .rule,
    .ruleGroup {
      margin-top: 0.5rem;
      margin-left: 0.5rem;
    }

    .ruleGroup-combinators.betweenRules {
      margin-top: 0.5rem;
    }

    .ruleGroup-notToggle {
      margin-right: 0.5rem;
    }
  }

  .dndOver {
    &.rule,
    &.ruleGroup-header {
      border-bottom-width: 2px;
      border-bottom-style: dashed;
      border-bottom-color: rebeccapurple;
      padding-bottom: 0.5rem;
    }
  }
}
