.demoLayout {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: var(--ifm-global-spacing);
  padding: var(--ifm-global-spacing);
}

.demoSidebarHeader {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.demoOption {
  display: flex;
  justify-content: space-between;
}

.demoOptionCommands {
  display: flex;
  justify-content: flex-start;
  gap: var(--ifm-global-spacing);
  margin: var(--ifm-global-spacing) auto;
}

.demoImportCommands {
  display: flex;
  flex-direction: column;
  gap: var(--ifm-global-spacing);
}

.wsPreWrap code {
  white-space: pre-wrap;
}
