.demoLayout {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: var(--ifm-global-spacing);
  padding: var(--ifm-global-spacing);
}

.demoSidebarHeader {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.demoOption {
  display: flex;
  justify-content: space-between;
}

.demoOptionCommands {
  display: flex;
  gap: var(--ifm-global-spacing);
  margin: var(--ifm-global-spacing) 0;
}

.demoOptionCommands button {
  padding: 0.3rem;
  height: 100%;
  width: 100%;
}

.demoImportCommands {
  display: flex;
  flex-direction: column;
  gap: var(--ifm-global-spacing);
}

.demoImportCommands button {
  padding: 0.4rem;
}

.demoResponsiveContent {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--ifm-global-spacing);
}

@media screen and (min-width: 1400px) {
  .demoResponsiveContent {
    display: grid;
    grid-template-columns: 1fr 250px;
  }
}

.exportOptions {
  display: flex;
  gap: var(--ifm-global-spacing);
  margin-bottom: var(--ifm-heading-margin-bottom);
}

.wsPreWrap code {
  white-space: pre-wrap;
}
