.useValidation {
  // Bold the +Rule button if the group has no child rules or groups
  .ruleGroup.queryBuilder-invalid .ruleGroup-addRule {
    font-weight: bold !important;
  }
  .rule.queryBuilder-invalid .rule-value {
    border: 2px solid rebeccapurple;
  }
}

// all styles except for default
.with-antd,
.with-bootstrap,
.with-chakra,
.with-material {
  .ruleGroup-cloneGroup,
  .rule-cloneRule,
  .rule-remove,
  .ruleGroup-remove {
    float: right;
  }

  .ruleGroup-addRule,
  .ruleGroup-addGroup,
  .rule-cloneRule,
  .ruleGroup-cloneGroup,
  .ruleGroup-notToggle {
    margin-left: 0.5rem;
  }
}
