// Variables
$rqb-spacing: 0.5rem !default;
$rqb-background-color: rgba(0, 75, 183, 0.2) !default;
$rqb-border-color: #7f81a2 !default;
$rqb-border-style: solid !default;
$rqb-border-radius: 4px !default;
$rqb-border-width: 1px !default;
$rqb-dnd-hover-border-bottom-color: rebeccapurple !default;
$rqb-dnd-hover-border-bottom-style: dashed !default;
$rqb-dnd-hover-border-bottom-width: 2px !default;

// Default styles
.ruleGroup {
  display: flex;
  flex-direction: column;
  row-gap: $rqb-spacing;
  padding: $rqb-spacing;
  border-color: $rqb-border-color;
  border-style: $rqb-border-style;
  border-radius: $rqb-border-radius;
  border-width: $rqb-border-width;
  background: $rqb-background-color;

  .ruleGroup-body {
    display: flex;
    flex-direction: column;
    row-gap: $rqb-spacing;

    .ruleGroup-combinators.betweenRules {
      // Otherwise selects stretch to 100% width
      align-self: flex-start;
    }
  }

  .ruleGroup-header,
  .rule {
    display: flex;
    column-gap: $rqb-spacing;
  }
}

// Drag-and-drop hover styles
.dndOver {
  &.rule,
  &.ruleGroup-header {
    border-bottom-width: $rqb-dnd-hover-border-bottom-width;
    border-bottom-style: $rqb-dnd-hover-border-bottom-style;
    border-bottom-color: $rqb-dnd-hover-border-bottom-color;
    padding-bottom: $rqb-spacing;
  }
}

// Drag-and-drop drag styles
.ruleGroup,
.rule {
  &.dndDragging {
    opacity: 0.5;
  }

  .queryBuilder-dragHandle {
    cursor: move;
  }
}

// When drag-and-drop is disabled, hide all drag handles
[data-dnd='disabled'] .queryBuilder-dragHandle {
  display: none;
}
