.ruleGroup {
  padding: 0.5rem;
  border: 1px solid #7f81a2;
  border-radius: 4px;
  background: rgba(0, 75, 183, 0.2);

  .rule,
  .ruleGroup {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }

  .ruleGroup-combinators.betweenRules {
    margin-top: 0.5rem;
  }

  .ruleGroup-notToggle {
    margin-right: 0.5rem;
  }
}

.ruleGroup,
.rule {
  &.dndOver {
    border: 2px solid rebeccapurple;
  }

  &.dndDragging {
    opacity: 0.5;
  }

  .queryBuilder-dragHandle {
    cursor: move;
  }
}
