.rule,
.ruleGroup .ruleGroup {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.ruleGroup {
    padding: 1rem;
    border: 1px solid #CCC;
    border-radius: 4px;
}

.ruleButtons {
    margin-left: 5px !important;
    margin-right: 5px !important;
    padding: 5px !important
}

.addGroupButton {
    margin-right: 5px !important;
    padding: 5px !important
}

.fields {
    margin-right: 10px !important;
    div {
        padding-top: 10px;
        padding-bottom : 10px
    }
}

.value {
    input {
        padding-top: 10px;
        padding-bottom : 10px
    }
}

.combinator {

    border : 1.2px solid lightgray;
    border-radius: 4px;

    .toggle {
        background: lightgrey
    }

    .andButton {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .orButton {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    button {
        height: 35px;
        &:hover {
            background: lightgrey
        }
    }
}
