// Variables
$rqb-spacing: 0.5rem !default;

// Default styles
.ruleGroup {
  padding: $rqb-spacing $rqb-spacing $rqb-spacing 0;
  border: 1px solid #7f81a2;
  border-radius: 4px;
  background: rgba(0, 75, 183, 0.2);

  .ruleGroup-body {
    margin-top: $rqb-spacing;
    padding-left: $rqb-spacing;
    display: flex;
    flex-direction: column;
    row-gap: $rqb-spacing;

    .ruleGroup-combinators.betweenRules {
      align-self: flex-start;
    }
  }

  .ruleGroup-header,
  .rule {
    display: flex;
    justify-content: flex-start;
    column-gap: $rqb-spacing;
  }
}

// Drag-and-drop styles
.ruleGroup,
.rule {
  &.dndOver {
    border: 2px solid rebeccapurple;
  }

  &.dndDragging {
    opacity: 0.5;
  }

  .queryBuilder-dragHandle {
    cursor: move;
  }
}
