$code: #333333;
$code-background: unset;

@use 'sass:meta';
@use '@rqb-devapp/styles.css';
@use '../../react-querybuilder/src/query-builder';

.donut-hole {
  @include meta.load-css('bulma');

  overflow-y: unset !important;
}

pre {
  white-space: pre-wrap;
}

.input {
  width: auto;
}
