@use '@rqb-devapp/styles.css';
@use '../../core/src/query-builder';

.donut-hole {
  .chakra-native-select__root {
    width: fit-content !important;
    display: inline-block;
  }

  .chakra-input {
    width: auto !important;
    display: inline-block;
  }

  .chakra-radio-group {
    display: inline-block;
  }
}
