body {
  margin: 1rem !important;
}

.chakra-select__wrapper {
  width: fit-content !important;
  display: inline-block;
}

.chakra-input {
  width: auto;
  display: inline-block;
}

.chakra-radio-group {
  display: inline-block;
}
