.demoNav,
.demoNavPackageLinks,
.demoNavStyleLinks {
  display: flex;
  gap: var(--ifm-global-spacing);
}

.demoNav {
  flex-direction: row;
  justify-content: space-between;
  font-size: smaller;
}

@media screen and (max-width: 966px) {
  .demoNav {
    flex-direction: column;
  }
}

.demoNavPackageLink {
  white-space: nowrap;
}
