name: CI

on:
  push:
    branches: [main]
    paths:
      - 'packages/**'
  pull_request:
    branches: [main]
    paths:
      - 'packages/**'

jobs:
  build_and_test:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'yarn'
      - name: Install dependencies
        uses: bahmutov/npm-install@v1
        with:
          install-command: yarn --immutable
      - run: yarn lint
      - run: yarn build
      - run: yarn test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
