name: Website

on:
  pull_request:
    paths:
      - 'website/**'
  push:
    branches: [main]
    paths:
      - 'website/**'

jobs:
  build:
    if: github.event_name != 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'yarn'
      - name: Install dependencies
        run: yarn --immutable
      - name: Build packages
        run: yarn build
      - name: Build website
        run: yarn website:build

  publish:
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'yarn'
      - name: Install dependencies
        run: yarn --immutable
      - name: Build packages
        run: yarn build
      - name: Build website
        run: yarn website:build
      - uses: webfactory/ssh-agent@v0.5.0
        with:
          ssh-private-key: ${{ secrets.GH_PAGES_WEBSITE_DEPLOY }}
      - name: Deploy website to GitHub Pages
        env:
          USE_SSH: true
          GIT_USER: git
        run: |
          git config --global user.email ${{ secrets.GH_PAGES_WEBSITE_PUBLISHER_EMAIL }}
          git config --global user.name ${{ secrets.GH_PAGES_WEBSITE_PUBLISHER_NAME }}
          yarn website:deploy
