name: Website

# Netlify builds the website for PRs, so this workflow is probably
# unnecessary except on push to the `main` branch.

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'website/**'
      - 'packages/**'
  push:
    branches: [main]
    paths:
      - 'website/**'
      - 'packages/**'

env:
  NODE_OPTIONS: --max-old-space-size=4096

jobs:
  Build_website:
    runs-on: ubuntu-latest
    env:
      RQB_SKIP_REACT_COMPILER: 'true'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - uses: oven-sh/setup-bun@v1
        # with:
        #   bun-version: 1.1.29
      - run: bun install --frozen-lockfile
      - run: bun --bun run build
      - run: bun run website:build
        # "docusaurus deploy" runs "docusaurus build", so no need to run it for non-PR pushes
        if: ${{ github.event_name == 'pull_request' }}
      - uses: webfactory/ssh-agent@v0.9.0
        # Only run when pushing to the `main` branch
        if: ${{ github.event_name != 'pull_request' }}
        with:
          ssh-private-key: ${{ secrets.GH_PAGES_WEBSITE_DEPLOY }}
      - name: Deploy website to GitHub Pages
        # Only run when pushing to the `main` branch
        if: ${{ github.event_name != 'pull_request' }}
        env:
          USE_SSH: true
          GIT_USER: git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          yarn run website:deploy
